html, body
    width: 100%
    background-color: #282c34

/* NAVBAR */
.menu-item
    color: #282c34 !important
    font-weight: bold
    &:hover
        color:  #371de2 !important

.navbar
    padding-top: 5px
    padding-bottom: 5px
    box-shadow: 5px 5px 15px black

.navbar-brand
    font-weight: bold
    color: #282c34 !important

#logo
    width: 25px
    margin-top: -5px !important
    height: 25px


/* Social Media */
.linkedin
    color: #0033cc !important
    &:hover
        color: #809fff !important
.github
    color: black !important
    &:hover
        color:  #737373 !important