html, body
    width: 100%
    background-color: #282c34

/* NAVBAR */
.menu-item
    color: #dcdcdd !important
    font-weight: bold
    &:hover
        color: #6464c4  !important

.navbar
    position: -webkit-sticky
    position: sticky
    top: 0
    padding-top: 5px
    padding-bottom: 5px
    /* box-shadow: 5px 5px 15px black */
    background-color: #191c22 !important
    z-index: 2

.navbar-brand
    font-weight: bold
    color: #dcdcdd !important

#logo
    width: 25px
    margin-top: -5px !important
    height: 25px

/* Social Media */
.linkedin
    color: #3263f8 !important
    &:hover
        color: #809fff !important
.github
    color: #ffffff !important
    &:hover
        color:  #adabab !important
/* Footer */
.footer
    color: white
    background-color: #191c22
    position: relative
    left: 0
    bottom: 0
    height: 50px
    width: 100%
    overflow: hidden
     

/* RESPONSIVE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (orientation: portrait)
    /* Carousel */
    .carousel
        height: 350px

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: landscape)
    /* Carousel */
    .carousel
        height: 300px

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: portrait)
    /* Carousel */
    .carousel
        height: 300px

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (orientation: portrait)
    /* Carousel */
    .carousel
        height: 600px

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (orientation: portrait)
    /* Carousel */
    .carousel
        height: 600px

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
    .title
        color: white
        text-align: center
        margin-bottom: 35px
    /* Carousel */
    .carousel
        height: 500px

    /* Spaces between cards */
    .spacing
        width: 10px

    /* Style for cards div */
    .cards
        justify-content: center
        margin-bottom: 35px

    .cards .card
        margin: 0px 25px

    /* Email Form */
    .email-form
        margin-top: 10px    
        text-align: center
        left: 28%
        width: 600px
        height: 467px
        margin-bottom: 50px

    .email-form form 
        background-color: white
        padding: 0px 30px
        height: 500px
        box-shadow: 5px 5px 15px black

    form h1 
        padding: 20px 0px
    
    .btn
        margin-top: 30px
        font-size: 18px
        width: 300px
        border-radius: 50px
        box-shadow: 4px 4px 8px  #002699